In [1]:
import pandas as pd

In [8]:
a = [1, 7, 2]
b = [1, 7, 2]
c = [1, 7, 2]
d = [1, 7, 2]
myvar = pd.Series([a,b,c,d])

In [13]:
myvar1 = pd.DataFrame([a,b,c,d] , index=['x','y','z','w'])

In [9]:
myvar

0    [1, 7, 2]
1    [1, 7, 2]
2    [1, 7, 2]
3    [1, 7, 2]
dtype: object

In [14]:
myvar1

   0  1  2
x  1  7  2
y  1  7  2
z  1  7  2
w  1  7  2

In [15]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

In [16]:
myvar

day1    420
day2    380
day3    390
dtype: int64

In [17]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

In [18]:
myvar

day1    420
day2    380
dtype: int64

In [19]:
data={
    "X" : ["10","20","60","80"],
    "Y" : ["25","69","24","63"]
}
XX=pd.DataFrame(data)

In [20]:
XX

    X   Y
0  10  25
1  20  69
2  60  24
3  80  63

In [ ]:
import pandas as pd

# Assuming 'df' is your DataFrame
df_filled_constant = df.fillna(value=0)  # Replace NaN with 0 or any other constant value

In [ ]:
df_filled_mean = df.fillna(df.mean())
df_filled_median = df.fillna(df.median())
df_filled_mode = df.apply(lambda x: x.fillna(x.mode()[0]))

In [ ]:
from sklearn.impute import SimpleImputer

# Assuming 'X' is your feature matrix
imputer = SimpleImputer(strategy='mean')  # Other strategies: 'median', 'most_frequent', 'constant'
X_imputed = imputer.fit_transform(X)

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# Assuming 'X' is your feature matrix
imputer = IterativeImputer(max_iter=10, random_state=0)
X_imputed = imputer.fit_transform(X)

In [ ]:
from sklearn.impute import KNNImputer

# Assuming 'X' is your feature matrix
imputer = KNNImputer(n_neighbors=2)
X_imputed = imputer.fit_transform(X)